# CMM-Company
Repositorio de Miguelangel
body{
	background:#01579B;
	background-attachment:fixed;
	background-repeat:no-repeat; 
	background-position:center 0;
}

table{
	border:1px solid #000;
	border-collapse:collapse;
	width:;
} 

table td{
	border:1px solid #000;
	padding: 20px;
}


table tr:hover{
	background:#ccc;
}

table td:hover{
	background:#0000;
	color:#fff;
}

.menu{
	width:100%;
	background:#ccc;
}

.menu {
	width:100%;
	background:#000;
	list-style:none;
	margin:0;
	padding:0;
}

 .menu li {
 	display:inline-block;
 }
 
 
.menu li a{
 	padding:20px 30px;
 	display:inline-block;
	color:#fff;
 } 	

 .menu li a:hover{ 
 	background:#ccc;
 	color:#FFF;
 }


 img{
 	border-radius:20px
 }

 a{
 	width:50%;
 	height:100px
 	background:#000;
 	margin:25px,50px;
 	padding:30px;
 	color:#FFF;

 }
p{
	width:50%;
	height:120px; 
	background:#90CAF9;
	margin: 25px 50px;
	padding:30px;
	border:10px solid#BBDEFB
}
p{
	font-family:arial,helvetica,sans-serif,"Beyond Wonderland" 
	font-size:20px;
	font-weight:normal;
	text-align:center;
	line-height:30px;
	text-decoration:none;
	text-transform:lowercase;
	letter-spacing:normal;
	word-spacing:1px;
}
